[submodule "BuildTools"]
	path = BuildTools
	url = https://github.com/beat-saber-modding-group/BS-Plugin-BuildTools.git
[submodule "FastExpressionCompiler"]
	path = FastExpressionCompiler
	url = https://github.com/dadhi/FastExpressionCompiler.git
